<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h2>Edit this Todo Item</h2>

		<%= form_for @todo, html: {:role => "form"} do |t| %>
		<div class="from-group">
			<%= t.label :name %>:
			<%= t.text_field :name, autofocus: true, :class => "form-control" %>
		</div>
			<%= t.hidden_field :completed, :value => false %>
		<br>
		<div>
			<%= t.submit "Update Item", :class => "btn btn-primary" %>
		</div>	
		<% end %>
	</div>
</div>