<div class="row">
	<div class="col-sm-6 col-sm-offset-3">

		<h2>The Todo List</h2>

		<h3>Todos:</h3>
		<% @todos.each do |t| %>
				<strong> <%= t.name %> </strong>
			<p>
				<small>
					<%= link_to "Mark as Done", completed_path(t), :method => :put  %>
					<% if can? :manage, t %>
						OR
						<%= link_to "Edit Item", edit_todo_path(t) %>
					<% end %>
				</small>
			</p>
		<% end %>
		<h4> <%= link_to "Add a todo item", new_todo_path %> </h4>

		<h3>Completed:</h3>

		<% @completes.each do |c| %>
			<%= c.name %>
			<p>
				<% if can? :manage, c %>
					<small> <%= link_to "Remove", c, :confirm => "Are you sure you'd like to remove this item?", :method => :delete %> </small>
				<% end %>
			</p>
		<% end %>

		
	</div>
</div>		