<h1>Your todo list!</h1>

<h2>Todo:</h2>
<% @todos.each do |t| %>
	<p>
		<strong> <%= t.name %> </strong>
		<small>
			<%= link_to "Mark as Done", todo_path(t), :method => :put %> 
			<% if can?, :edit, t %>
				<%= link_to "Edit Item", edit_todo_path(t) %>
			<% end %>

		</small>
	</p>
<% end %>

<h2>Completed:</h2>

<% @completes.each do |c| %>
	<p>
		<%= c.name %>
		<small> <%= link_to "Remove", c, :confirm => "Are you sure you'd like to remove this item?", :method => :delete %> </small>
	</p>
<% end %>

<p> <%= link_to "Add a todo", new_todo_path %> </p>