<h1>Your todo list!</h1>

<h2>Todo:</h2>
<% @todos.each do |t| %>
	<p>
		<strong> <%= t.name %> </strong>
		<small>
			<%= link_to "Mark as Done", completed_path(t), :method => :put  %>
			<% if can? :manage, t %>
				<%= link_to "Edit Item", edit_todo_path(t) %>
			<% end %>
		</small>
	</p>
<% end %>

<h2>Completed:</h2>

<% @completes.each do |c| %>
	<p>
		<%= c.name %>
		<% if can? :manage, c %>
			<small> <%= link_to "Remove", c, :confirm => "Are you sure you'd like to remove this item?", :method => :delete %> </small>
		<% end %>
	</p>
<% end %>

<p> <%= link_to "Add a todo", new_todo_path %> </p>