<!DOCTYPE html>
<html>
<head>
  <title>CodecademyTodo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<% if user_signed_in? %>
			You are currently signed in as <%= current_user.email %>, not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		<% else %>
			<%= link_to "Sing up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
		<% end %>

		<% flash.each do |name, message| %>
			<%= content_tag :div, message, :id => "flash_#{name}" %>
		<% end %>

		<%= yield %>
	</div>


</body>
</html>
